<ion-header>
  <ion-toolbar color="primary">
    <ion-title>recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let r of recipes" [routerLink]="['./',r.id]">
      <ion-thumbnail slot="start">
        <ion-img [src]="r.imageUrl" ></ion-img>
      </ion-thumbnail>
      <ion-label> {{r.title }}</ion-label>
      <!--<ion-avatar><img src={{r.imageUrl}}></ion-avatar> -->
      <form [formGroup]="customForm">
      <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff"
        defaultColor="#f4f4f4" readonly="false" rating="3" fontSize="32px" (ratingChanged)="logRatingChange($event)">
    </ionic4-star-rating>
  </form>
    </ion-item>
  </ion-list>
</ion-content>
